header {
  display: flex;
  align-items: center;
  padding-bottom: 56px;
}

/* Contêiner do perfil */
#profile {
  position: relative;
  display: inline-block;
}

/* Imagem do avatar */
#profile {
  img {
    width: 87.27px;
    height: 87.27px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--red);
    padding: 4.36px;
  }
}

/* Ícone </> sobreposto */
#profile {
  span {
    position: absolute;
    bottom: 14px;
    right: 6px;
    width: 32px;
    height: 25px;
    padding: 6px 8px;
  }
}

#code {
  img {
    width: 36px;
    height: 36px;
    border: none;
  }
}